volumes:
  database:

services:
  db:
    image: postgres:16.2
    restart: always
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - ./database/data:/var/lib/postgresql/data
      - ./database/schema:/docker-entrypoint-initdb.d/
